html {
  font-size: 16px;
}

body {
  background-color: hsla(200, 10%, 60%, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 0;
  height: 70%;
}


.tile {
  display: flex;
  position: relative;
  background-color: hsla(100, 0%, 100%, 0.9);
  border: 2px solid hsla(100, 10%, 90%, 0.4);
  border-radius: 7px;
  min-width: 165px;
  max-width: 165px;
  min-height: 165px;
  max-height: 165px;
  overflow: hidden;
}

.tile img {
  width: 100%;
  visibility: hidden;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.tile[data-clicked="true"] img, .tile[data-matched="true"] img {
  visibility: visible;
}

