html {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: hsl(168, 36%, 52%);
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  position: relative;
}


.dialog-bg {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: hsl(168, 36%, 52%);
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  
}

#start-dialog, #end-dialog {
  position: absolute;
  border: 2px solid  hsl(168, 36%, 52%);
  color:  hsl(180, 2%, 18%);
  border-radius: 15px;
  font-size: 1.5rem;
  box-shadow: 0px 9px 10px hsla(120, 1%, 19%, 0.8);  
  text-align: center;
  font-weight: lighter;
  top: 100px;
  bottom: 100px;
  left: 250px;
  right: 250px;
  background-color:hsl(0, 7%, 92%);
  z-index: 100;
  padding: 0rem 2rem 2rem 2rem;
}

#end-dialog {
  display: none;
}

#start-btn, #replay-btn {
  display: block;
  margin: 2rem auto;
  box-shadow: 0px 4px 5px hsla(169, 4%, 50%, 0.7);
  font-size: 1rem;
  height: 2.5rem;
  width: 7rem;
  border-radius: 7px;
  border: none;
  background: hsl(168, 36%, 50%);
  color: hsl(180, 6%, 85%)
}

h2 {
  font-size: 1.3rem;
  font-weight: lighter;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(0, 0%, 20%);
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 1rem;
}


.tiles {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 170px);
  grid-template-rows: repeat(4, 170px);
}

.tile {
  display: flex;
  position: relative;  
  box-sizing: border-box;
  background-color: hsl(210, 3%, 85%);
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  border-radius: 7px;
  border: 3px solid hsla(0, 4%, 95%, 0.883);
  overflow: hidden;
}

.tile img {
  width: 100%;
  visibility: hidden;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.tile[data-clicked="true"] img, .tile[data-matched="true"] img {
  animation: fade-in;
  animation-duration: 1s;
  visibility: visible;
}

.tile[data-matched="true"] {
  transition: ease-in;
  animation: scale-match;
  animation-duration: .8s;
}

@keyframes fade-in {
  0% {
    visibility: visible;
    opacity: 0.1;
  } 
  50% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes scale-match {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2;
  grid-template-rows: 4;
  font-size: .8rem;
  color: rgb(77, 76, 76);
  position: absolute;
  bottom: 1%;
  left: 1%;
  margin: 0;
  padding: 0;
  z-index: -10;
}

.footer img {
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer a {
  align-self: center;
}

#footer-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end:  2;
}
